<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="margin-right: 10px;">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span>MENU</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="pull-left hidden-xs"><a class="navbar-brand logo" href="all.html"><img class="navlogo" src="img/logoblack.svg"><img class="navlogo" src="img/logohover.svg"></a></li>
        <li class="{{navlinkoptionall}}"><a href="all.html">all</a></li>
        <li class="{{navlinkoptionarchitecture}}"><a href="architecture.html">architecture</a></li>
        <li class="{{navlinkoptionuidesign}}"><a href="uidesign.html">ui design</a></li>
        <li class="{{navlinkoptionfun}}"><a href="fun.html">fun</a></li>
        <li class="{{navlinkoptionabout}}"><a href="about.html">about</a></li>
        <li class="navlink pull-right hidden-xs"><a class="exiticon" href="index.html"><img class="exiticonsvg" src="img/exitblack.svg"><img class="exiticonsvg" src="img/exithover.svg"></a></li>
      </ul>
    </div>
  </div>
</nav>